<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logDirectory" value="${basedir}/Logs"/>

  <targets>
    <target name="UserLogin"
            xsi:type="File"
            keepFileOpen="true"
            openFileCacheTimeout="30"
            fileAttributes="ReadOnly"
            fileName="${logDirectory}/UserLogin.txt"
            />
    <target name="AddStudentLog"
            xsi:type="File"
            keepFileOpen="true"
            openFileCacheTimeout="30"
            fileAttributes="ReadOnly"
            fileName="${logDirectory}/AddStudentLog.txt"
            />
    <target name="RegisterAccountLog"
        xsi:type="File"
        keepFileOpen="true"
        openFileCacheTimeout="30"
        fileAttributes="ReadOnly"
        fileName="${logDirectory}/RegisterAccountLog.txt"
            />
    <target name ="ArchiveStudentRecordsLog"
            xsi:type="File"
            keepFileOpen="true"
            openFileCacheTimeout="30"
            fileAttributes="ReadOnly"
            fileName="${logDirectory}/ArchiveStudentLog.txt"
            />
    <target name ="StudentAlreadyArchivedLog"
        xsi:type="File"
        keepFileOpen="true"
        openFileCacheTimeout="30"
        fileAttributes="ReadOnly"
        fileName="${logDirectory}/StudentAlreadyArchived.txt"
            />
    <target name ="DeleteAccountLog"
            xsi:type="File"
            keepFileOpen="true"
            openFileCacheTimeout="30"
            fileAttributes="ReadOnly"
            fileName="${logDirectory}/DeleteAccountLog.txt"
            />
    <target name ="ViolationAddedLog"
        xsi:type="File"
        keepFileOpen="true"
        openFileCacheTimeout="30"
        fileAttributes="ReadOnly"
        fileName="${logDirectory}/ViolationAddedLog.txt"
            />
    <target name ="StudentRecordLog"
        xsi:type="File"
        keepFileOpen="true"
        openFileCacheTimeout="30"
        fileAttributes="ReadOnly"
        fileName="${logDirectory}/StudentRecordLog.txt"
            />
    <target name ="ErrorLog"
    xsi:type="File"
    keepFileOpen="true"
    openFileCacheTimeout="30"
    fileAttributes="ReadOnly"
    fileName="${logDirectory}/ErrorLog.txt"
            />
  </targets>

  <rules>
    <logger name="userLogin" minlevel="Info" writeTo="UserLogin" />
    <logger name="registerAccount" minlevel="Info" writeTo="DeleteAccountLog" />
    <logger name="deleteAccount" minlevel="Info" writeTo="DeleteAccountLog" />
    <logger name="addStudent" minlevel="Info" writeTo="AddStudentLog" />
    <logger name="studentRecord" minlevel="Info" writeTo="StudentRecordLog" />
    <logger name="violationAdded" minlevel="Info" writeTo="ViolationAddedLog" />
    <logger name ="studentAlreadyArchived" minlevel="Info" writeTo="StudentAlreadyArchivedLog" />
    <logger name ="archiveStudent" minlevel="Info" writeTo="ArchiveStudentRecordsLog" />
    <logger name="*" level="Error"  writeTo="ErrorLog"/>
  </rules>
</nlog>
